
.loading-blogs-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-spinner {
   
    width: 20px;
    height: 20px;
    border: 1.5px solid rgb(179, 179, 179);
    border-left: 1.5px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: blogspinner .6s infinite linear;
}

@keyframes blogspinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}