.blogs-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}


@media(width >=661px) {
    .blogs-search-for-mobile {
        display: none;
    }

    .nav_scroll .blogs-search {
        width: 20%;
        border: 1px solid rgba(0, 0, 0, 0.112);
        padding: 7px;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 50px;
    }

    .blogs-search {
        width: 20%;
        border: 1px solid rgba(0, 0, 0, 0.112);
        padding: 7px;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0px;
        transition: ease-in-out .2s;
    }

    .blogs-inner-container {
        gap: 20px 20px;
        display: grid;
        grid-template-columns: auto auto auto;

    }

    .single-blog-container {
        width: 20vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 0px 15px 15px;
        transition: ease-in-out .2s;

    }

    .s-blog-img {
        width: 125px;
        height: 125px;
        background-color: rgb(162, 162, 162);
        cursor: pointer;
        margin-bottom: 15px;

    }

    .s-blog-name {
        cursor: pointer;
        font-size: 16px;
    }

    .s-blog-desc {
        font-size: 14px;
        opacity: .8;
    }

    .s-blog-link {
        font-size: 13px;
        color: rgba(45, 44, 44, 0.844);
        transition: ease-in-out .2s;
        padding: 7px;
        margin: -7px;

    }

    .s-blog-link:hover {
        color: black;
        margin-left: 5px;
        transition: ease-in-out .2s;
    }

    .blogs-header {
        display: none;
    }
}

@media(width <=660px) {
    .blogs-header-contaienr {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 7vh;
        width: 100%;
        padding: 5vw;
        box-sizing: border-box;
    }

    .blogs-search-for-mobile {
        width: 50%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.112);
        padding: 10px;
        font-size: 18px;
    }

    .blogs-header {
        font-weight: 200;
        font-size: 24px;
    }

    .blogs-inner-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 5vh 5vw;
        margin-top: 7vh;

    }

    .single-blog-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40vw;

    }

    .s-blog-img {
        width: 40vw;
        height: 40vw;
        background-color: rgb(162, 162, 162);
        cursor: pointer;
        margin-bottom: 15px;

    }

    .s-blog-name {
        cursor: pointer;
        font-size: 16px;
    }

    .s-blog-desc {
        font-size: 14px;
        opacity: .8;
    }

    .s-blog-link {
        font-size: 13px;
        color: rgba(45, 44, 44, 0.844);
        transition: ease-in-out .2s;
        padding: 7px;
        margin: -7px;

    }
}

.blog-delete-btn {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.21);
    padding: 10px;
    cursor: pointer;
}