.shop-container{
    display: flex;
    justify-content: right;
    padding: 0 5vw;
    margin: 10vh 0 20vh 0;
    align-items: flex-start;
    
}

@media (width <= 590px) {
    .shop-container{
        display: flex;
        flex-direction: column;
        padding: 0 5vw;
        margin: 5vh 0 20vh 0;
        align-items: flex-start;
        
    }
    
}