@media (width >=591px) {
    .filter_active-header {
        display: none;
    }

    .filters-flex,
    .cat-search-ico,
    .cat-header {
        display: none;
    }

    .cat-container_scroll{
        top: 111px !important;
        transition: ease-in-out .4s;
    }
    .cat-container {
        width: 100%;
        position: fixed;
        left: 0vw;
        height: 40px;
        top: 55px;
        background-color: white;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5vw;
        border-bottom: .5px solid rgba(0, 0, 0, 0.114);
        border-top: .5px solid rgba(0, 0, 0, 0.114);
        transition: ease-in-out .4s;

    }

    .cat-contaienr_header {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .cat-search-input {
        width: 20%;
        height: 40px;
        font-size: calc(.9vw + 1vh);
        outline: none;
        background-color: transparent;
        border: none;
        position: absolute;
        left: 5vw;
        top: 0;
    }

    .cat-search-input::placeholder {
        font-weight: 400 !important;
        font-size: 16px;
    }

    .cat-header {
        font-size: 18px;
    }

    .cat-filter-pills-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1px;
    }

    .filter-pill {
        background-color: white;
        color: black;
        padding: 11px;
        box-sizing: border-box;
        font-size: 14px;
        cursor: pointer !important;
        transition: ease-in-out .2s;

    }
    .filter-pill:hover {
        background-color: rgba(207, 207, 207, 0.128);
        cursor: pointer;

    }

    .filter-pill.active {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 11px;
        font-size: 14px;
        cursor: pointer;
        transition: ease-in-out .2s;
    }
    .filter-pill.active:hover {
        background-color: rgba(31, 31, 31, 0.828);
    }


}

@media (width <=590px) {

    .cat-container {
        width: 100%;
        position: absolute;
        top: 53.5px;
        left: 0;

    }

    .cat-mobile-header {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: .7px solid rgba(11, 11, 11, 0.129);
        border-bottom: .7px solid rgba(11, 11, 11, 0.129);
        height: 40px;
        align-items: center;
        padding: 0 5vw;
        box-sizing: border-box;
        background-color: white;
        gap: 10vw;
        z-index: 2;
    }

    .cat-filters {
        display: none;
    }

    .cat-filter-ico {
        font-size: 18px;
    }

    .filters-flex {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        letter-spacing: .6px;
    }

    .filters-flex:active {
        font-weight: bold;
        letter-spacing: .4px;
    }

    .cat-search-input {
        width: 100%;
        height: 38.9px;
        padding: 10px;
        font-size: 14px;
        outline: none;
        border: none;
        background-color: transparent;
        border-left: 1px solid rgba(11, 11, 11, 0.129);
    }

    .cat-search-ico {
        font-size: 40px;
    }

    .cat-filter-pills-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        width: 100%;
    }

    .cat-filters {
        background-color: white;
        width: 100%;
        height: 40vh;
        z-index: 1;
        position: relative;
        top: -40vh;
        left: 0vw;
        padding: 0 5vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        transition: ease-in-out .3s;
    }

    .cat-filters__active {
        background-color: white;
        width: 100%;
        height: 30vh;
        z-index: 1;
        position: relative;
        top: 40px;
        left: 0;
        padding: 15px 5vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        transition: ease-in-out .3s;
        box-shadow: 0 7px 10px .2px rgba(158, 158, 158, 0.34);
        border-radius: 50px;

    }

    .filter_active-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        margin-bottom: 10vh;
    }

    .cat-header {
        font-size: 18px;
        opacity: .8;
    }

    .filter-pill {
        background-color: white;
        color: black;
        border: 1px solid rgba(76, 76, 76, 0.754);
        padding: 6px;
        font-size: 14px;
        border-radius: 15px;
        cursor: pointer;
        transition: ease-in-out .2s;
        width: fit-content;
    }

    .filter-pill.active {

        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.754);
        padding: 6px;
        font-size: 14px;
        border-radius: 15px;
        cursor: pointer;
        transition: ease-in-out .2s;
        width: fit-content;

    }
}