* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media (width >=1036px) {
    .plus1036-display-none {
        display: none;
    }
}

@media (width <=1035px) {
    .plus1036-display-none {
        z-index: 2;
    }
}
.nav-space{
    height: 60px;
}