* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.notification-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.907);
    position: absolute;
    top: 0;
    height: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
    color: white;
    padding-left: 5vw;
    box-sizing: border-box;
    padding-right: 5vw  ;
}
.notif-close-btn{
    top: 2px;
    right: 5vw;
    font-weight: bold;
    cursor: pointer;
}

.plus1036-display-none {
    z-index: 2;
}

.nav-space {
    height: 50px;
}

.lazy-blurred-img.blur-up {
    filter: blur(5px);
    transition: filter 400ms;
}

.lazy-blurred-img.blur-up.lazyloaded {
    filter: none;
}